<div class="modal-body">
    <h2 class="display-4">Создать заметку</h2>
    <div class="conteiner">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">название*:</span>
            </div>
            <input type="text" class="form-control" aria-label="name" aria-describedby="basic-addon1"
                [(ngModel)]="todo.name">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" rows="3" placeholder="описание" [(ngModel)]="todo.description"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Выполнить до*: </span>
            </div>
            <div class="form-control">
                <input matInput [matDatepicker]="deadLineTime" disabled [(ngModel)]="todo.deadline">
                <mat-datepicker-toggle matSuffix [for]="deadLineTime"></mat-datepicker-toggle>
                <mat-datepicker #deadLineTime disabled='false'></mat-datepicker>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Важность</span>
            </div>
            <select class="custom-select custom-select" [(ngModel)]="todo.importance">
                <option value="Обычная" selected >Обычная</option>
                <option value="Средняя">Средняя</option>
                <option value="Очень важно">Очень важно</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Сохранить на</span>
            </div>
            <select class="custom-select custom-select">
                <option value="1" selected>Сервере</option>
                <option value="2">Устройстве</option>
                <option value="3">Устройстве и сервере</option>
            </select>
        </div>
        <div class="rows mt-3">
            <small>обязательные поля:*</small>
        </div>
        <hr />
        <div class="row justify-content-between align-items-center">
            <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" (click)="onNoClick()"
                autocomplete="off">
                отмена
            </button>
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                (click)="onSaveClick()" autocomplete="off">
                сохранить
            </button>
        </div>
    </div>