<div class=" jumbotron jumbotron-fluid noborder">
    <div class="row tetrade-bg">
        <div class="col-8  d-flex justify-content-center mt-4">
            <div class="conteiner ">
                <ng-container *ngIf="todosServise.viewTodo" class="row ">
                    <div class="col-12 preview-todo">
                        <h3>{{todosServise.viewTodo.name}}</h3>
                        <br />
                        <p class="preview-todo_description">{{todosServise.viewTodo.description}}</p>
                        <p class="preview-todo_date">создано:
                            &#32;<small>{{todosServise.viewTodo.create}}</small></p>
                    </div>
                </ng-container>
                <ng-container *ngIf="!todosServise.viewTodo">
                    <div class="col-12 justify-content-center mt-5 ">
                        <h1>Выберите заметку</h1>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-4 filters_conteiner d-flex justify-content-end">
            <div class=" btn-group-vertical mr-5" data-toggle="buttons">
                <label class="btn btn-secondary" (click)="setFilter($event,null)">
                    <input type="radio" name="options" checked>
                    Все
                </label>
                <label class="btn btn-secondary " (click)="setFilter($event,'low')">
                    <input type="radio" name="options">
                    Обычные
                </label>
                <label class="btn btn-secondary" (click)="setFilter($event,'midl')">
                    <input type="radio" name="options">
                    Важные
                </label>
                <label class="btn btn-secondary" (click)="setFilter($event,'height')">
                    <input type="radio" name="options">
                    Срочные
                </label>
            </div>
        </div>
    </div>
</div>
<div class="conteiner ">
    <div class="row justify-content-around ">
        <div class="col-10 todosTable">
            <table class="table">
                <tr>
                    <th [hidden]="!todosServise.deleteMode">&#10003;</th>
                    <th>№</th>
                    <th>название</th>
                    <th>описание</th>
                    <th>важность</th>
                    <th>создано</th>
                    <th>выполнить до</th>
                    <th>выполнено</th>
                </tr>
                <ng-container *ngFor="let item of todosServise.todosTable;let i=index ">
                    <tr (click)="rowClick($event, item.id)" [class.tr__changed]="item.changed" class="tr-pointer">
                        <td [hidden]="!todosServise.deleteMode"><input type="checkbox" 
                            [checked]="todosServise.isSetedDeleted(item.id)" 
                                (change)="onSetDelete(item.id)">
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.importance}}</td>
                        <td>{{item.create | date:'short'}}</td>
                        <td>{{item.deadline | date:'short'}}</td>
                        <td>{{(item.completed | date:'short')||'не выполнено'}}</td>
                    </tr>
                </ng-container>
            </table>
        </div>

    </div>
    <remote-table></remote-table>